@font-face {
  font-family: 'Mazzard M';
  src: url('/assets/fonts/Mazzard/MazzardM-Medium.eot');
  src: local('Mazzard M Medium'), local('MazzardM-Medium'),
  url('/assets/fonts/Mazzard/MazzardM-Medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Mazzard/MazzardM-Medium.woff2') format('woff2'),
  url('/assets/fonts/Mazzard/MazzardM-Medium.woff') format('woff'),
  url('/assets/fonts/Mazzard/MazzardM-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mazzard M';
  src: url('/assets/fonts/Mazzard/MazzardM-Light.eot');
  src: local('Mazzard M Light'), local('MazzardM-Light'),
  url('/assets/fonts/Mazzard/MazzardM-Light.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Mazzard/MazzardM-Light.woff2') format('woff2'),
  url('/assets/fonts/Mazzard/MazzardM-Light.woff') format('woff'),
  url('/assets/fonts/Mazzard/MazzardM-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mazzard M';
  src: url('/assets/fonts/Mazzard/MazzardM-SemiBold.eot');
  src: local('Mazzard M SemiBold'), local('MazzardM-SemiBold'),
  url('/assets/fonts/Mazzard/MazzardM-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Mazzard/MazzardM-SemiBold.woff2') format('woff2'),
  url('/assets/fonts/Mazzard/MazzardM-SemiBold.woff') format('woff'),
  url('/assets/fonts/Mazzard/MazzardM-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mazzard M';
  src: url('/assets/fonts/Mazzard/MazzardM-Bold.eot');
  src: local('Mazzard M Bold'), local('MazzardM-Bold'),
  url('/assets/fonts/Mazzard/MazzardM-Bold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Mazzard/MazzardM-Bold.woff2') format('woff2'),
  url('/assets/fonts/Mazzard/MazzardM-Bold.woff') format('woff'),
  url('/assets/fonts/Mazzard/MazzardM-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mazzard M';
  src: url('/assets/fonts/Mazzard/MazzardM-Regular.eot');
  src: local('Mazzard M Regular'), local('MazzardM-Regular'),
  url('/assets/fonts/Mazzard/MazzardM-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Mazzard/MazzardM-Regular.woff2') format('woff2'),
  url('/assets/fonts/Mazzard/MazzardM-Regular.woff') format('woff'),
  url('/assets/fonts/Mazzard/MazzardM-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* COMMON */
body {
  font-family: 'Mazzard M', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #979797;
  margin: 0;
}

h1 {
  font-weight: normal;
  font-size: 100px;
  line-height: 118px;
  margin-top: 0;
}

h2 {
  font-weight: normal;
  font-size: 45px;
  line-height: 53px;
  color: #525252;
  margin-top: 0;
  margin-bottom: 60px;
}

h3 {
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  color: #525252;
  margin-top: 0;
  margin-bottom: 20px;
}

h4 {
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration-line: none;
}

section {
  padding: 80px 0;
}

.text-center {
  text-align: center;
}

.btn {
  border: none;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 58px;
  
  font-size: 16px;
  line-height: 19px;
  
  transition: 320ms;
  
  cursor: pointer;
}

.btn-fill {
  background: #6e7a76;
  color: #fff;
}

.btn-fill:hover {
  background-color: #525252;
}

.btn-trp {
  border: 1px solid #6e7a76;
  color: #6e7a76;
  width: 129px;
  height: 42px;
}

.btn-trp:hover {
  border-color: #6e7a76;
  background-color: #6e7a76;
  color: #fff;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group--dot::before {
  content: '';
  position: absolute;
  top: 18px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
}

.form-row .form-group {
  flex: 1 1 auto;
}

.form-control {
  border: none;
  border-bottom: 1px solid #C4C4C4;
  border-radius: 0;
  background-color: transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  width: 100%;
}

.form-control::placeholder {
  color: #fff;
  opacity: 1;
}

.form-control:focus {
  outline: 0;
  background-color: transparent;
  box-shadow: none;
  border-color: #C4C4C4;
}

.form__comment {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #9B9F9E;
  margin-bottom: 24px;
}

.form__comment a {
  color: #fff;
  text-decoration-line: underline;
}

.form-btn {
  margin: 0 auto;
}

.form-btn:hover {
  background-color: #fff;
  color: #6e7a76;
}

.form__comment a:hover {
  text-decoration-line: none;
}

.title-row {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}

.title-row h2,
.title-row h3 {
  margin-bottom: 0;
  margin-right: 24px;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: -118px;
  right: 0;
  display: flex;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  width: 58px;
  height: 55px;
  background: #6e7a76;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  background: #000;
}

.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span {
  background: url(./assets/img/svg/arrow-right.svg) no-repeat center;
  width: 25px;
  height: 18px;
  color: transparent;
}

.owl-carousel .owl-nav button.owl-prev {
  margin-right: 18px;
}

.owl-carousel .owl-nav button.owl-prev span {
  transform: rotate(180deg);
}

.owl-carousel .owl-nav button.owl-prev.disabled span,
.owl-carousel .owl-nav button.owl-next.disabled span {
  opacity: 0.5;
}

.owl-carousel .owl-nav button.owl-prev.disabled:hover,
.owl-carousel .owl-nav button.owl-next.disabled:hover {
  background: #6e7a76;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.breadcrumbs__item {
  font-size: 12px;
  line-height: 14px;
  color: #979797;
  padding-left: 32px;
  position: relative;
}

.breadcrumbs__item::before {
  content: '';
  width: 15px;
  height: 12px;
  background: url(./assets/img/svg/arrow-breadcrumbs.svg) no-repeat center / contain;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

th, td {
  padding: 24px 36px;
}

th {
  background: #6E7A76;
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}

tbody tr:nth-child(2n) td {
  background: #EEEEEE;
}


.name {
  font-size: 24px;
  line-height: 26px;
  padding-bottom: 14px;
  margin-bottom: 24px;
  position: relative;
}

.name::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 72px;
  height: 2px;
}

.modal-fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: none;
}

.modal-fade::before {
  content: '';
  background: #6E7A76;
  opacity: 0.71;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  position: relative;
  z-index: 101;
  margin: 10% auto auto;
  width: 800px;
  border-radius: 1px;
  padding: 52px 24px 40px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 24px;
  cursor: pointer;
}

.modal--dark {
  background: #525252;
  color: #fff;
}

.modal--dark .modal-close {
  fill: #fff;
}

.modal--dark h3 {
  color: #fff;
}

.modal--light {
  background: #EEEEEE;
}

.modal--light .modal-close {
  fill: #6E7A76;
}

.btn-modal {
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 80px;
}

.pagination__link {
  width: 82px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.pagination__link.active {
  color: #fff;
  background-color: #6E7A76;
}

.pagination__prev {
  transform: rotate(180deg);
}

.pagination__prev svg,
.pagination__next svg {
  fill: #6E7A76;
}

table {
  border:0;
  border-collapse:collapse;
}

/* COMMON */


/*HEADER*/
header {
  padding: 12px 0;
  margin-bottom: 20px;
}

header.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

header .row {
  margin-right: 0;
  margin-left: 0;
  flex-wrap: nowrap;
}

.burger {
  display: none;
}

.header__logo {
  display: block;
  width: 206px;
  margin-right: 28px;
}

.header__logo img {
  width: 100%;
}

.header__center {
  flex: 1 1 auto;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__item {
  display: flex;
  align-items: center;
  min-width: 190px;
  
  font-size: 16px;
  line-height: 19px;
  color: #979797;
}

.header__contacts .contacts__item:nth-child(2) {
  max-width: 348px;
}

.contacts__item svg {
  flex-shrink: 0;
  margin-right: 8px;
  fill: #BDC2CA;
}

.contacts__item a {
  color: #979797;
}

.contacts__socials {
  display: flex;
}

.socials__item {
  display: block;
  margin-right: 12px;
}

.socials__item svg {
  fill: #BDC2CA;
}

.socials__item:last-child {
  margin-right: 0;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.menu__link {
  font-size: 16px;
  line-height: 19px;
  color: #000;
  padding-bottom: 5px;
  position: relative;
}

.menu__link::before {
  content: '';
  height: 2px;
  width: 0;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 320ms;
}

.menu__link:hover::before,
.menu__link.active::before {
  width: 100%;
}

.menu__drop {
  position: relative;
}

.menu__dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 240px;
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0 0 6px rgba(0,0,0,.15);
  padding: 8px;
  z-index: 2;
  display: none;
}

.menu__drop:hover .menu__dropdown {
  display: block;
}

.menu__dropdown a {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  padding-bottom: 8px;
}

.menu__dropdown a:hover,
.menu__dropdown a.active {
  text-decoration-line: underline;
}

.header__btn {
  margin-left: 48px;
}

.mobile-menu {
  display: none;
}
/*HEADER*/

/*FOOTER*/
footer {
  padding: 64px 0;
  border-top: 1px solid #979797;
}

.footer__item {
  display: flex;
  flex-direction: column;
}

.footer__row {
  display: grid;
  grid-template-columns: 210px repeat(2, 1fr) 300px;
  grid-column-gap: 75px;
}

.footer__item:nth-child(1),
.footer__item:nth-child(2),
.footer__item:nth-child(4) {
  grid-row-start: 1;
  grid-row-end: 3;
}

.footer__item:nth-child(3) {
  grid-row-start: 1;
  grid-row-end: 4;
}

.footer__item:nth-child(5),
.footer__item:nth-child(6),
.footer__item:nth-child(8) {
  grid-row-start: 3;
  grid-row-end: 4;
}

.footer__item:nth-child(7) {
  grid-row-start: 4;
  grid-row-end: 4;
}

.footer__link {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  position: relative;
  padding-bottom: 5px;
  width: max-content;
}

.footer__link::before {
  content: '';
  height: 2px;
  width: 0;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 320ms;
}

.footer__link:hover::before,
.footer__link.active::before {
  width: 100%;
}


.footer__link.noactive {
  margin-bottom: 12px;
}

.footer__link.noactive:hover {
  cursor: default;
  text-decoration-line: none;
}

.footer__dropdown {
  margin-top: 0;
  margin-bottom: 24px;
}

.footer__dropdown a {
  display: block;
  font-size: 14px;
  color: #000;
  margin-bottom: 8px;
}

.footer__dropdown a:hover,
.footer__dropdown a.active {
  text-decoration-line: underline;
}

footer .contacts__item {
  margin-bottom: 24px;
}

.copyright {
  font-size: 16px;
  line-height: 24px;
  color: #979797;
}

.copyright a {
  color: #979797;
}

.privacy {
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #979797;
}

.privacy:hover {
  text-decoration-line: none;
}

/*FOOTER*/

/* 404 */
.error404__title {
  font-weight: normal;
  font-size: 116px;
  line-height: 116px;
  color: #525252;
  margin-bottom: 32px;
}

.error404__subtitle {
  margin-bottom: 56px;
  color: #525252;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.error404 a {
  color: #979797;
  text-decoration-line: underline;
}

.error404 a:hover {
  text-decoration-line: none;
}
/* 404 */

.main-slider__item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-slider__title {
  padding: 264px 0 350px;
  font-size: 100px;
  line-height: 118px;
  color: #fff;
  width: 700px;
}

.top__main-slider-wrapper.height {
  height: 800px;
}

.top__main-slider .owl-nav {
  position: absolute;
  top: 49%;
  left: 65%;
  display: flex;
}

.top__main-slider.hidden {
  visibility: hidden;
}

.top__main-slider .owl-dots {
  position: absolute;
  bottom: 90px;
  left: 0;
  width: 100%;
  text-align: center;
}

.top__main-slider button.owl-dot {
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.19);
  margin: 0 5px;
}

.top__main-slider button.owl-dot.active,
.top__main-slider button.owl-dot:hover {
  background: #fff;
}

.benefits {
  background-color: #e3e3e3;
}

.benefits .row {
  margin-right: 0;
  margin-left: 0;
}

.benefits__item {
  width: 210px;
}

.benefits__block {
  background-color: #fff;
  width: 100%;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 22px 22px 35px rgba(152, 152, 152, 0.4);
  margin-bottom: 48px;
  transition: 320ms;
}

.benefits__icon {
  margin-bottom: 28px;
}

.benefits__icon svg {
  fill: #979797;
}

.benefits__block h4 {
  color: #a2a2a2;
}

.benefits__block:hover {
  background-color: #6e7a76;
}

.benefits__block:hover svg {
  fill: #fff;
}

.benefits__block:hover h4 {
  color: #fff;
}

.benefits__item p {
  color: #6e7a76;
  text-align: center;
}

.categories {
  background-color: #525252;
}

.categories h2 {
  color: #fff;
}

.categories__item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  margin-bottom: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px 26px;
  transition: 320ms;
}

.categories__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000 3.37%, rgba(0, 0, 0, 0) 74.25%);
}

.categories__item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px #000;
}

.categories__title {
  position: relative;
  z-index: 1;
  font-size: 28px;
  line-height: 38px;
  color: #fff;
}

.categories__title::before {
  content: '';
  position: absolute;
  top: -16px;
  left: 0;
  height: 3px;
  width: 65px;
  background-color: #fff;
}

.reviews {
  background: #e3e3e3;
}

.reviews__item {
  background: #fff;
  padding: 24px 52px 68px;
  position: relative;
}

.reviews__icon {
  width: 115px;
  height: 115px;
  background: #6e7a76;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  overflow: hidden;
}

.reviews__name {
  color: #525252;
  text-align: center;
}

.reviews__name::before {
  left: 50%;
  transform: translateX(-50%);
  background-color: #6e7a76;
}

.reviews__item p {
  color: #979797;
}

.reviews__more {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #e3e3e3;
  width: 53px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 320ms;
}

.reviews__more svg {
  fill: #6e7a76;
}

.reviews__more:hover {
  background: #6e7a76;
}

.reviews__more:hover svg {
  fill: #fff;
}

.aboutus {
  background: #525252;
  color: rgba(255, 255, 255, 0.85);
}

.aboutus h2 {
  color: rgba(255, 255, 255, 0.85);
}

.aboutus .btn-trp {
  border-color: #9F9F9F;
  color: #E2E2E2;
}

.aboutus .btn-trp:hover {
  border-color: #6e7a76;
}

.aboutus__right {
  position: relative;
}

.aboutus__video-wrapper {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 590px;
  height: 380px;
  margin: 0 auto;
  display: block;
}

.aboutus__right .aboutus__video-wrapper {
  width: 100%;
}

video {
  width: 100%;
}

.btn-play {
  width: 92px;
  height: 92px;
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn-play.active {
  opacity: 0.2;
  transition: 320ms;
}

.btn-play.active:hover {
  opacity: 1;
}

.aboutus__video {
  max-height: 380px;
}

.instagram-banner {
  text-align: center;
  margin-bottom: 80px;
}

.blog__img {
  width: 100%;
  height: 134px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 16px;
}

.blog__item p {
  padding-left: 20px;
  font-size: 14px;
  line-height: 19px;
  color: #6E7A76;
}

.blog__item p:last-child {
  margin-bottom: 26px;
}

.blog__bottom {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.blog__date {
  font-size: 16px;
  line-height: 19px;
  color: #6E7A76;
}

.blog__more {
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  text-decoration-line: underline;
  color: #6E7A76;
}

.blog__more:hover {
  text-decoration-line: none;
}

.portfolio__item {
  position: relative;
  padding-bottom: 64px;
}

.portfolio__slider .owl-item:nth-child(2n) {
  margin-top: 90px;
}

.portfolio__slider .owl-nav {
  right: calc((100% - 1140px)/2);
}

.portfolio__img {
  display: block;
  width: 100%;
  height: 372px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio__type {
  width: 94px;
  height: 36px;
  background: rgba(255, 255, 255, 0.86);
  position: absolute;
  top: 16px;
  right: 16px;
  
  font-size: 18px;
  line-height: 26px;
  color: rgba(1, 1, 1, 0.53);
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio__desc {
  background: #000000;
  padding: 32px 42px;
  color: #fff;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75%;
  max-height: 100%;
  overflow-y: auto;
}

.portfolio__name {
  padding-bottom: 12px;
  margin-bottom: 18px;
}

.portfolio__name::before {
  background-color: #fff;
  left: 0;
}

.portfolio__date {
  font-size: 14px;
  line-height: 26px;
}

.portfolio__text {
  margin-top: 16px;
  color: rgba(255, 255, 255, 0.85);
  display: none;
}

.portfolio__desc:hover .portfolio__text  {
  display: block;
}

.page-top h2 {
  margin-bottom: 20px;
}

.page-about__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 312px;
  margin-bottom: 72px;
}

.page-about__inner {
  width: 800px;
  margin: 0 auto 80px;
}

.page-about .aboutus__video-wrapper {
  margin-top: 64px;
  margin-bottom: 56px;
}

.team {
  padding-top: 0;
}

.team__column:nth-child(2n) {
  margin-top: 64px;
}

.team__item {
  margin-bottom: 44px;
  height: 490px;
  display: flex;
  flex-direction: column;
  background: #000000;
  
}

.team__img {
  width: 100%;
  height: 270px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.team__info {
  text-align: center;
  padding: 24px 15px;
  margin-bottom: auto;
}

.team__name {
  color: #fff;
}

.team__name::before {
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
}

.team__position {
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
}

.team__bottom {
  position: relative;
  padding: 7px 14px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.team__bottom::before {
  content: '';
  width: 41px;
  height: 41px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}

.team__bottom img {
  flex-shrink: 0;
  margin-right: 18px;
}

.team__bottom a {
  font-size: 12px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.65);
}

.article__table {
  margin-bottom: 64px;
}

.list {
  margin-bottom: 64px;
}

.list li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.list__marker {
  width: 82px;
  height: 82px;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  margin-right: 20px;
  background: #6E7A76;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.list li:nth-child(2n) .list__marker {
  background: #525252;
}

.page-contacts__logo {
  width: 560px;
  margin: 0 auto 20px;
}

.page-contacts__item {
  background: #6E7A76;
  color: #fff;
  font-size: 19px;
  line-height: 28px;
  height: 144px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.page-contacts__item--middle {
  background: #525252;
  margin-top: 40px;
}

.page-contacts__icon {
  flex-shrink: 0;
  margin-right: 20px;
  width: 24px;
  height: 24px;
}

.page-contacts__icon svg {
  fill: #fff;
}

.page-contacts__text {
  max-width: 250px;
}

.page-contacts__text a {
  color: #fff;
}

.page-contacts__item--middle .page-contacts__text {
  font-size: 24px;
}

.writeus {
  background: #525252;
  border-radius: 1px;
  padding: 52px 24px 44px;
  width: 800px;
  margin: 85px auto;
}

.writeus h3 {
  color: #FFFFFF;
  margin-bottom: 40px;
}

.map {
  margin-bottom: 85px;
}

.map iframe {
  width: 100%;
}

.modal-order h3 {
  margin-bottom: 40px;
}

.documents__item {
  padding: 32px;
  background: #EEEEEE;
  position: relative;
  margin-bottom: 20px;
  min-height: 338px;
}

.documents__item::before {
  content: '';
  width: 34px;
  height: 34px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
}

.documents__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border: 17px solid transparent;
  border-left: 17px solid #000;
  border-top: 17px solid #000;
}

.documents__name {
  color: #525252;
}

.documents__name::before {
  background-color: #6E7A76;
}

.documents__download {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 54px;
  height: 51px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 320ms;
}

.documents__download svg {
  fill: #6E7A76;
}

.documents__download:hover {
  background-color: #6E7A76;
}

.documents__download:hover svg {
  fill: #fff;
}

.page-reviews {
  margin-bottom: 80px;
}

.page-reviews .row {
  margin-right: 0;
  margin-left: 0;
  justify-content: space-between;
}

.page-reviews__item {
  background-color: #EEEEEE;
  width: 32%;
  margin-bottom: 60px;
}

.page-reviews__item:nth-child(3n-1) {
  margin-top: 40px;
  margin-bottom: 20px;
}

.page-reviews__item:nth-child(3n) {
  margin-top: 80px;
  margin-bottom: -20px;
}

.page-reviews__item .reviews__more {
  background-color: #fff;
}

.page-reviews__item .reviews__more:hover {
  background-color: #6E7A76;
}

#reviewModal .modal {
  width: 600px;
  padding-left: 60px;
  padding-right: 60px;
}

#reviewModal .reviews__item {
  background-color: transparent;
  padding: 0;
}

.page-blog {
  margin-bottom: 80px;
}

.page-blog .row {
  margin-left: 0;
  margin-right: 0;
  justify-content: space-between;
}

.page-blog__item {
  position: relative;
  width: 32%;
  margin-bottom: 60px;
  min-height: 390px;
}

.page-blog__item:nth-child(3n-1) {
  margin-top: 40px;
  margin-bottom: 20px;
}

.page-blog__item:nth-child(3n) {
  margin-top: 80px;
  margin-bottom: -20px;
}

.page-blog__img {
  width: 100%;
  height: 300px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-blog__desc {
  background: #000000;
  padding: 32px;
  color: #fff;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85%;
  max-height: 100%;
  overflow-y: auto;
}

.page-blog__name {
  padding-bottom: 12px;
  margin-bottom: 18px;
}

.page-blog__name::before {
  background-color: #fff;
  left: 0;
}

.page-blog__date {
  font-size: 14px;
  line-height: 26px;
}

.page-blog__text {
  margin-top: 16px;
  color: rgba(255, 255, 255, 0.85);
  display: none;
  margin-bottom: 0;
}

.page-blog__desc:hover .page-blog__text  {
  display: block;
}

.page-blog__more {
  width: 53px;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.page-blog__more svg {
  fill: #6E7A76;
}

.page-blog__more:hover {
  background-color: #6E7A76;
}

.page-blog__more:hover svg {
  fill: #fff;
}

.page-portfolio {
  margin-bottom: 80px;
}

.page-portfolio .row {
  margin-left: 0;
  margin-right: 0;
  justify-content: space-between;
}

.page-portfolio__item {
  position: relative;
  width: 48%;
  margin-bottom: 60px;
  min-height: 390px;
}

.page-portfolio__item:nth-child(2n) {
  margin-top: 40px;
  margin-bottom: 20px;
}

.page-portfolio__img {
  width: 100%;
  height: 300px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-portfolio__desc {
  padding: 32px;
  width: 85%;
}

.page-portfolio__text {
  margin-bottom: 0;
}

.btn-portfolio-more {
  margin: 85px auto 0;
}

.gallery {
  margin-bottom: 110px;
}

.gallery__item {
  display: block;
  height: 285px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__slider .owl-item:nth-child(2n) {
  margin-top: 40px;
}


/*---------------------------------------------------------------------------------------------------------*/

@media (max-height: 800px) {
  .modal {
    margin-top: 4%;
    padding: 32px 24px;
  }

  #reviewModal .reviews__item p, #blogModal .blog__item p {
    max-height: 265px;
    overflow-y: scroll;
  }
}

@media (max-height: 600px) {
  #reviewModal .reviews__item p, #blogModal .blog__item p {
    max-height: 228px;
  }

  .reviews__icon {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 1280px) {
  .top__main-slider .owl-nav {
    top: 64%;
    left: 74%;
  }
}

@media (max-width: 1199px) {

  
  .header__logo {
    width: 165px;
  }
  
  .header__btn {
    width: 115px;
  }
  
  .contacts__item {
    margin-bottom: 0;
    font-size: 14px;
  }
  
  .portfolio__slider .owl-nav {
    right: calc((100% - 960px)/2);
  }
  
  .footer__row {
    grid-template-columns: 185px repeat(3, 1fr) 300px;
    grid-column-gap: 38px;
  }
  
  .team__bottom a {
    font-size: 14px;
    line-height: 26px;
  }
  
  .page-blog__item {
    width: 48%;
  }
  
  .page-blog__item:nth-child(3n-1),
  .page-blog__item:nth-child(3n) {
    margin-top: 0px;
    margin-bottom: 60px;
  }
}

@media (max-width: 1024px) {
  .header__logo {
    width: 206px;
  }
  
  .header__btn {
    width: 175px;
  }
  
  .header__center {
    display: none;
  }
  
  .header__btn {
    margin-left: auto;
  }
  
  .burger {
    display: block;
    background-color: #6e7a76;
    height: 58px;
    width: 58px;
    margin-left: 24px;
    cursor: pointer;
  }
  
  .burger span {
    display: block;
    background-color: #fff;
    width: 44px;
    height: 2px;
    margin: 15px auto 0;
  }
  
  .burger span::before {
    content: '';
    display: block;
    background-color: #fff;
    width: 44px;
    height: 2px;
    transform: translateY(14px);
  }
  
  .burger span::after {
    content: '';
    display: block;
    background-color: #fff;
    width: 44px;
    height: 2px;
    transform: translateY(26px);
  }
  
  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    right: -1000px;
    z-index: 10;
    background-color: #6e7a76;
    padding: 36px;
    width: 380px;
    height: 100vh;
    overflow-y: scroll;
    transition: 320ms;
  }
  
  .mobile-menu.active {
    right: 0;
  }
  
  .mobile-menu .close {
    fill: #fff;
    position: absolute;
    top: 20px;
    right: 24px;
    cursor: pointer;
  }
  
  .mobile-menu__callback {
    display: none;
  }
  
  .mobile-menu__menu {
    margin-bottom: 44px;
  }
  
  .mobile-menu__menu li {
    margin-bottom: 24px;
  }
  
  .mobile-menu .menu__link {
    color: #fff;
    font-size: 20px;
    display: block;
    width: max-content;
    margin: 0 0 12px;
  }
  
  .mobile-menu .menu__link::before {
    background-color: #fff;
  }
  
  .mobile-menu .menu__drop .menu__link svg {
    fill: #fff;
  }
  
  .mobile-menu .menu__dropdown {
    position: relative;
    top: auto;
    right: auto;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    padding-left: 20px;
    display: block;
  }
  
  .mobile-menu .menu__dropdown a {
    color: #fff;
    font-size: 16px;
    display: block;
    margin: 0 0 12px;
  }
  
  .mobile-menu__contacts .contacts__item {
    color: #fff;
    margin-bottom: 12px;
  }
  
  .mobile-menu__contacts .contacts__item svg {
    fill: #fff;
  }
  
  .mobile-menu__contacts .contacts__item a {
    color: #fff;
  }
  
  .mobile-menu__contacts .socials__item {
    margin-right: 24px;
  }
  
  .mobile-menu__contacts .socials__item svg {
    fill: #fff;
  }
}

@media (max-width: 991px) {
  .modal {
    width: 700px;
  }
  
  .main-slider__title {
    padding: 150px 0 250px;
    font-size: 84px;
    line-height: 96px;
    width: 100%;
  }
  
  .top__main-slider .owl-nav {
    top: 66%;
  }
  
  .top__main-slider .owl-dots {
    bottom: 36px;
  }
  
  .benefits__item {
    width: 295px;
    margin-bottom: 24px;
  }
  
  .portfolio__slider .owl-nav {
    right: calc((100% - 720px)/2);
  }
  
  footer {
    padding: 44px 0;
  }
  
  .footer__row {
    display: block;
  }
  
  .footer__item {
    text-align: center;
  }
  
  .footer__logo {
    margin-bottom: 32px;
  }
  
  .footer__link {
    margin: 0 auto 24px;
  }
  
  .footer__contacts {
    margin-bottom: 44px;
  }
  
  .footer__contacts .contacts__item {
    justify-content: center;
  }
  
  .footer__contacts .contacts__socials {
    justify-content: center;
  }
  
  .footer__contacts .contacts__socials .socials__item {
    margin-right: 24px;
  }
  
  .copyright {
    margin-bottom: 12px;
  }
  
  .page-about__inner {
    width: 100%;
  }
  
  .writeus {
    width: 100%;
  }
  
  .page-portfolio__item {
    width: 100%;
  }
  
  .page-portfolio__item:nth-child(2n) {
    margin-top: 0px;
    margin-bottom: 60px;
  }
  
  .page-reviews__item {
    width: 48%;
  }
  .page-reviews__item:nth-child(3n-1),
  .page-reviews__item:nth-child(3n) {
    margin-top: 0px;
    margin-bottom: 60px;
  }
  
  .page-blog__desc {
    width: 95%;
  }
  
  .page-contacts__item {
    margin-bottom: 44px;
  }
  
  .page-contacts__item--middle {
    margin-top: 0;
  }
  
}

@media (max-width: 767px) {
  .header__btn {
    display: none;
  }
  
  .mobile-menu__callback {
    display: block;
    margin-bottom: 32px;
    background-color: #fff;
    color: #6e7a76;
  }
  
  .mobile-menu__callback:hover {
    color: #fff;
  }
  
  .burger {
    margin-left: auto;
  }
  
  .modal {
    width: 500px;
  }
  
  .benefits__item {
    width: 100%;
  }
  
  .portfolio__slider .owl-item:nth-child(2n) {
    margin-top: 0px;
  }
  
  .gallery__slider .owl-item:nth-child(2n) {
    margin-top: 0px;
  }
  
  .page-about__inner {
    margin-bottom: 56px;
  }
  
  .gallery {
    margin-bottom: 56px;
  }
  
  .page-portfolio__desc {
    padding: 32px;
    width: 95%;
  }
  
  .page-reviews__item {
    width: 100%;
    margin-bottom: 44px;
  }
  
  #reviewModal .modal {
    width: 500px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .page-blog__item {
    width: 100%;
  }
  
  .page-contacts__logo {
    width: 100%;
  }
  
  .writeus {
    margin-top: 44px;
  }
  
  .aboutus__video-wrapper {
    width: 100%;
    height: 338px;
  }
  
  .table-wrapper {
    width: 100%;
    overflow-x: scroll;
  }
  
  table {
    width: 700px;
  }

  .top__main-slider .owl-nav {
    top: 78%;
    left: 70%;
  }
}

@media (max-width: 575px) {
  section {
    padding: 56px 0;
  }
  
  .modal {
    width: 90%;
  }
  
  #reviewModal .modal {
    width: 90%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }
  
  #reviewModal .reviews__item p,
  #blogModal .blog__item p {
    max-height: 228px;
    overflow-y: scroll;
  }
  
  .form-row {
    gap: 0;
    flex-direction: column;
  }
  
  .main-slider__title {
    font-size: 72px;
    line-height: 80px;
  }
  
  .portfolio__slider .owl-nav {
    right: 15px;
  }
  
  .title-row {
    justify-content: space-between;
    margin-bottom: 44px;
  }
  
  .title-row h2 {
    margin-bottom: 0;
    margin-right: 0px;
  }
  
  .owl-carousel .owl-nav {
    top: -96px;
  }
  
  .top__main-slider .owl-nav {
    top: 70%;
    left: auto;
    right: 15px;
  }
  
  .section--withtitlerow {
    padding-bottom: 80px;
    position: relative;
  }
  
  .section--withtitlerow .btn {
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .section--withtitlerow .col-12 {
    position: static;
  }

  .page-about .portfolio__item {
    padding-bottom: 0;
  }

}

@media (max-width: 480px) {
  
  .portfolio__desc,
  .page-portfolio__desc,
  .page-blog__desc {
    padding: 20px;
    width: 100%;
  }
  
  .page-portfolio__item {
    margin-bottom: 44px;
  }
  
  th, td {
    padding: 24px 12px;
  }
  
}

@media (max-width: 425px) {
  .instagram-banner {
    margin-bottom: 40px;
  }
  
  .mobile-menu {
    width: 100%;
  }
  
}

@media (max-width: 375px) {
  body {
    font-size: 14px;
    line-height: 24px;
  }
  
  h1 {
    font-size: 56px;
    line-height: 72px;
  }
  
  h2 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 40px;
  }
  
  h3 {
    font-size: 24px;
    line-height: 36px;
  }
  
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
  
  .main-slider__title {
    font-size: 56px;
    line-height: 72px;
  }
  
  .header__logo {
    width: 185px;
  }

}
